// Typography

// Vars

$leagueBlue : #499dcf;
$boneWhite : #FFF;

%leagueBlue {
	color: $leagueBlue;
}

%boneWhite {
	color: $boneWhite;
}

body {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: $boneWhite;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Sans', sans-serif;
	text-rendering: optimizelegibility;
	line-height: 1.05;
	a {
		color: inherit;
		font-weight: normal;
		text-decoration: none;
	}
}

h1 {
	@extend %leagueBlue;
}

h2 {
	@extend %boneWhite;
}

h3 {
	@extend %boneWhite;
}

h4 {
	@extend %leagueBlue;
}

h5 {
	@extend %boneWhite;
}

h6 {
	@extend %leagueBlue;
}

p {
	@extend %boneWhite;
}

a {
	@extend %leagueBlue;
	text-decoration: underline;


	&:hover {

	}
}

h1.white {
	color: white;
}