.backToTop {
	background: url(../images/UI/backtotop.png) no-repeat 0 0;
	width: 39px;
	height: 39px;
	display: block;

	&:hover {
		background-position: 0 -40px;
	}

	&:active {
		background-position: 0 -79px;
	}

	a {
		display: block;
		width: 100%;
		height: 100%;
	}

}

.homePageDivider {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 152px;
	width: 2px;
	background: url(../images/slices/homepageDivider.png) repeat-y;
}